<p id="notice"></p>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <!--User infoに関する記載-->
      <%= render 'users/user_info', user: @user %>

      <!--New bookに関する記載-->
      <%= render 'users/new_book', book: @book_new %>

    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <tbody>
            <tr>
              <td>
                <%= link_to user_path(@book.user_id) do %>
                  <%= image_tag @book.user.get_profile_image(100,100) %>
                  <p><%= @user.name %></p>

                <% end %>
              </td>
              <td>
                <%= link_to book_path(@book.id) do %>
                  <%= @book.title %>
                <% end %>
              </td>
              <td>
                  <%= @book.body %>
              </td>

              <% if current_user.id.to_s == @book.user_id.to_s %>
                <td>
                    <%= link_to "Edit", edit_book_path(@book.id) , class: "btn btn-sm btn-success" %>
                </td>
                <td>
                    <%= link_to "Destroy", book_path(@book.id) ,method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %>
                </td>
              <% end %>

            </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

